/* variables */

:root {
    --accent-color: #2196F3;
    --default-text-color: #212121;
    --secondary-text-color: #757575;
    --light-text-color: #fff;
    --dark-background-color: #2f303a;
    --light-background-color: #f5f4fa;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --default-font-size: 14px;
    --secondary-font-size: 16px;
    --headline-font-size: 36px;
}

body {
    font-family: var(--primary-font);
    font-size: var(--default-font-size);
    line-height: 1.71;
    color: var(--default-text-color);
    background: #fff;

    margin: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* removing default styles  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}


ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: var(--default-text-color);
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
}

/* header styles block */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-right: 97px;
}

.logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    color: var(--accent-color);
}

.nav {
    display: flex;
}

.nav-list,
.contacts-list {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav-list__item:first-child {
    margin-right: 53px;
}

.nav-list__item:nth-child(2) {
    margin-right: 69px;
}

.contacts-list {
    gap: 50px;
}

.contacts-list__link {
    color: var(--secondary-text-color);
}

.nav__list-link:hover,
.nav__list-link:focus,
.contacts-list__link:hover,
.contacts-list__link:focus {
    color: var(--accent-color);
}

/* main content styles */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--dark-background-color);
    text-align: center;
}

.hero__text {
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: var(--light-text-color);
}

.hero__button {
    padding: 10px 20px;
    font-size: var(--secondary-font-size);
    font-weight: 700;
    line-height: 1.87;
    color: var(--light-text-color);
    background: var(--accent-color);
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.about {
    padding-top: 89px;
    padding-bottom: 89px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-list__caption {
    font-weight: 700;
    font-size: var(--default-font-size);
}

.about-list__text {
    color: var(--secondary-text-color);
}

.services {
    padding-bottom: 94px;
}

.services-headline,
.team-headline {
    margin-bottom: 50px;
    font-size: var(--headline-font-size);
    font-weight: 700;
    text-align: center;
}

.services-list {
    display: flex;
    gap: 30px;
}

.services-list__img {
    width: 370px;
}

.team {
    background: var(--light-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    gap: 30px;
    text-align: center;
}

.team-list__img {
    width: 270px;
}

.team-list__text-block {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-list__name {
    margin-bottom: 10px;
    font-size: var(--secondary-font-size);
    font-weight: 500;
}


.team-list__title {
    font-size: var(--secondary-font-size);
    font-weight: 400;
    color: var(--secondary-text-color);
}

/* footer styles */

.footer {
    background: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    margin-bottom: 9px;
}

.footer-list__item:not(:last-child) {
    margin-bottom: 2px;
}

.footer-list__link--map {
    color: var(--light-text-color);
}

.footer-list__link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-list__link--map:hover,
.footer-list__link--map:focus,
.footer-list__link:hover,
.footer-list__link:focus {
    color: var(--accent-color);
}

/* portfolio styles */

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filters-list__button {
    padding: 6px 26px;
    font-size: var(--secondary-font-size);
    font-weight: 500;
    line-height: 1.625;
    background: var(--light-background-color);
    border: 0;
    border-radius: 4px;
}

.filters-list__button:hover,
.filters-list__button:focus {
    color: var(--light-text-color);
    background: var(--accent-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-list__item {
    flex-basis: calc((100% - 30px) / 3);
}

.projects-list__img {
    width: 370px;
}

.project-list__text {
    padding: 20px 24px;
    border: 1px solid #eee;
}

.projects-list__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.projects-list__type {
    font-size: var(--secondary-font-size);
    line-height: 1.87;
    color: var(--secondary-text-color);
}